@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    animation: fadeIn ease 1s;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
    height: calc(100% - 16px);
    max-width: 99%;
    width: 700px;
    min-width: 350px;
}

.element {
    text-align: center;
    background-color: var(--accent);
    border-radius: 15px;
    width: 100%;
    padding: 7px;
}

.button {
    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: var(--background);
}

br {
    height: 10px;
}

*:focus {
    outline: none;
}

#license {
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;

    margin-top: 15px;
}

:root {
    --text: #fff;
    --background: rgb(20, 20, 20);
    --border: rgb(30, 30, 30);
    --accent: rgb(40, 40, 40);
}

.centre,
.centre_all,
.centre_all * {
    text-align: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
}
